/*I must say, Photoshop is great.*/

body { /*This is for good-looking.*/
  width: 1280px;
  margin: 0px auto;
  /*for IE*/
  text-align: center;
}

#navigator {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 81px;
  z-index: 231;
}
#logo {
  position: absolute;
  left: 185px;
  top: 32px;
  width: 144px;
  height: 21px;
  z-index: 230;
}
#logoImg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 21px;
  z-index: 229;
}
#logoSpan {
  position: absolute;
  left: 47px;
  top: 0px;
  font-size: 20px;
  font-family: "Bree Serif";
  color: rgb(96, 96, 96);
  width: 95px;
  height: 20px;
  z-index: 228;
}
#navi {
  position: absolute;
  left: 472px;
  top: 0px;
  width: 400px;
  height: 81px;
  z-index: 225;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.naviStyle {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(81, 88, 98);
  text-align: center;
}
#navi li {
  position: relative;
  left: 0px;
  display: inline;
  line-height: 81px;
  padding: 33px 23px;
  width: 92px;
  height: 81px;
}
#navi #naviChosen {
  font-size: 15px;
  color: rgb(197, 244, 255);
  font-weight: bold;
  z-index: 223;
  background-color: rgb(18, 163, 214);
  background-image: url("./images/nevigatorChosenShape.png");
  background-attachment: scroll;
  background-position: 0 65px;
  background-repeat: repeat-x;
}
#blogButton {
  position: absolute;
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 213;
  background-color: rgb(249, 133, 97);
  position: absolute;
  left: 879px;
  top: 31px;
  width: 66px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
}
#search {
  width: 80px;
  height: 36px;
  z-index: 219;
  position: absolute;
  left: 1036px;
  top: 22px;
}
#searchSpan {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 12px;
  font-family: "Ubuntu";
  color: rgb(81, 88, 98);
  line-height: 36px;  
}
#searchImg {
  position: absolute;
  left: 41px;
  top: 0px;
  width: 36px;
  height: 36px;
}
