/*I must say, Photoshop is great.
Maybe it is great*/
body {
  margin: 0 auto;
  width: 1280px;
}
* {
  margin: 0;
  padding: 0;
}

#navigator {
  height: 81px;
}
#navigator * {
  display: inline-block;
  vertical-align: top;
}
#navigator #logo {
  margin-left: 186px;
  height: 100%;
  width: 310px;
}
#navigator #logo #logoImg {
  margin-top: 32px;
}
#navigator #logo #logoSpan {
  font-size: 20px;
  font-family: "Bree Serif";
  margin-top: 30px;
}
#navigator .naviStyle {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(81, 88, 98);
}
#navigator #navi {
  width: 383px;
  height: 100%;
}
#navigator #navi li {
  padding: 32px 23px;
}
#navigator #navi #naviChosen {
  font-size: 15px;
  color: rgb(197, 244, 255);
  font-weight: bold;
  background-color: rgb(18, 163, 214);
  background-image: url("./images/navigatorHover.png");
  background-repeat: no-repeat;
  background-size: 100% 17px;
  background-position: 0 65px;
}
#navigator #blogButton {
  background-color: rgb(249, 133, 97);
  width: 66px;
  height: 25px;
  margin-top: 31px;
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 25px;
  border-radius: 3px;
}
#navigator #search {
  margin-top: 21px;
  margin-left: 91px;
}
#navigator #search #searchSpan {
  font-size: 12px;
  font-family: "Ubuntu";
  color: rgb(81, 88, 98);
  line-height: 36px;
}